@import '../../variables.scss';

#editor-container {
  border: 1px solid $border;
  border-radius: 5px;
}

.sketch-picker {
  position: absolute;
  top: 120px;
  right: 120px;
  box-shadow: $light-drop-shadow;
}
