@import '../../variables.scss';

#toolbar {
  box-shadow: $light-drop-shadow;
  height: 500px;
  width: 50px;
  margin: 70px 15px 0px 0px;
  float: right;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 50px 50px 50px 50px;

  svg {
    cursor: pointer;
  }
}
