#color-swatch {
  width: 45px;
  height: 45px;
  margin: 10px;
  background-color: red;
  border-radius: 50%;
  // border-radius: 5px;
}

.sketch-picker {
  position: relative;
  left: -231px;
  top: -66px;
}
